<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <title>SimpleForum</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Rangularize</a>
    </div>
  </div>
  <div id="loading"><b>Loading...</b></div>
</div>

<div class="container">
  <div ng-view="ng-view"></div>
</div>
</body>
</html>
